<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772378025357-08fle68ea67v64e0fr4chbmnoedcca9a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772378025357-08fle68ea67v64e0fr4chbmnoedcca9a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>772378025357-f6c95kv0mcq55sqg0pue31n3g5nao69d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBV25L3hJHTzPkJp02MHzrlP8i7mknKsC4</string>
	<key>GCM_SENDER_ID</key>
	<string>772378025357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.personalRecipes</string>
	<key>PROJECT_ID</key>
	<string>personal-recipes-32826</string>
	<key>STORAGE_BUCKET</key>
	<string>personal-recipes-32826.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772378025357:ios:3cc413cdbcb78533eb31c4</string>
</dict>
</plist>